<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet", href="/css/style.css ">

    </head>
    <body>
         <div class="main-content">
              {{> header}}
              <p>This site was Created by Shiv. This site uses data from mapbox and darksky.net </p>
            <img class ="portrait" src="/img/boy.jpg">
         </div>
       

        {{> footer}}
    </body>
</html>